body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin-left: 50px;
  background-color: rgb(6, 13, 32);
  color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  height: 100px;
}

h1 {
  text-align: center;
}
.google-login {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #4285F4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.google-login:hover {
  background-color: #3367D6;
}
.form-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container input[type="email"],
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}