<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/cadastro/index.css">
    <link rel="script" href="../static/js/script.js">
    <title>Cadastro</title>
</head>
<body>
    <header class="signup__header container">
        <img class="signup__header__image" src="{{ url_for('static', filename='images/icon.png') }}" alt="Logo SaveSync">
    </header>
    <main class="signup__main container">
        <form class="signup__main__form">
            <h2 class="signup__main__title">Sign up</h2>
            <label class="signup__main__label" for="username">Username</label>
            <input class="signup__main__input" type="text" name="username" id="username" required>
            <label class="signup__main__label" for="password">Password</label>
            <input style="margin-bottom: 30px;" class="signup__main__input" type="password" name="password" id="password" required>
            <label class="signup__main__label" for="password">Confirm Password</label>
            <input style="margin-bottom: 23px;" class="signup__main__input" type="password" name="confirm_password" id="confirm_password" required>
            <input class="signup__main__submit hover_2" type="submit" value="Create Account">
        </form>
    </main>
</body>
</html>
