.signup__header {
  display: flex;
  justify-content: center;
}

.signup__header__image {
  width: 84px;
}

.signup__main {
  width: 280px;
  height: 378px;
  border-radius: 4px;
  margin: auto;
  background: var(--bg_color);
}

.signup__main__form {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 181px;
  width: 206px;
}

.signup__main__form:nth-child(1) {
  text-align: center;  
}

.signup__main__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}

.signup__main__label {
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
}

.signup__main__label:first-of-type {
  margin-bottom: 4px;
}

.signup__main__link:hover {
  background-color: var(--bg_input);
  cursor: pointer;
  transition: 180ms all ease-in;
}

.signup__main__input {
  border-radius: 4px;
  background: var(--bg_input);
  color: var(--text_color);
  padding: 4px;
  font-size: 12px;
  font-weight: 300;
  border: none;
}

.signup__main__input:nth-of-type(1) {
  margin-bottom: 30px;
}

.signup__main__input:nth-of-type(2) {
  margin-bottom: 23px;
}

.signup__main__label__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.signup__main__submit {
  border-radius: 4px;
  border: none;
  font-size: 14px;
  background: var(--text_color_secondary);
  color: var(--text_color);
  font-weight: 700;
  margin-bottom: 23px;
  cursor: pointer;
  padding: 4px 0;
}

.signup__main__link {
  color: var(--text_color_secondary);
  text-decoration: none;
  margin-left: 4px;
  padding: 2px;
  border-radius: 4px;
}
