<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/cadastro/index.css">
    <link rel="script" href="../static/js/script.js">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro-container">
    <h1>Cadastro</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/cadastro">
        <label for="username">Usuário:</label>
        <input type="text" name="username" id="username" required><br><br>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required><br><br>
        <label for="confirma_password">Confirme a senha:</label>
        <input type="password" name="confirma_password" id="confirma_password" required><br><br>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <p>Já possui uma conta? <a href="/login">Faça login aqui</a></p>
</body>
</html>
