<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/home/index.css">
    <title>Home</title>
</head>
<body>
    <header class="header container">
        <div class="header__container">
            <img src="../static/images/logo.svg" alt="Logo SaveSync">
            <h1 class="header__title">SaveSync</h1>
        </div>
        <img class="header__profile" src="../static/images/profile__test.jpg" alt="Profile image">
    </header>

    <main class="main container">
        <aside class="main__profile__content">
            <div class="main__profile__title__container">
                <img class="main__profile" src="../static/images/profile__test.jpg" alt="Profile image">
                <h2 class="main__profile__name">My Name</h2>
            </div>
            <div class="main__profile__options">
                <p>teste</p>
                <p>teste</p>
                <p>teste</p>
                <p>teste</p>
            </div>
        </aside>
        <section class="main__games__content">
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
            <div class="main__games__items">conteudo</div>
        </section>
    </main>

    <script src="../static/js/profile.js"></script>
</body>
</html>