<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SaveSync</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>
  <body>
    <h1>Save Sync</h1>
    <div class="container">
      <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Imagem">
    </div>
    
    <p>Welcome to your Saves Games application </p>
    <button><a style="text-decoration: none;color: rgb(12, 11, 11);" href="/login">Login</a></button>


  </body>
</html>
